{% extends "base.html" %}
{% block title %}{% if form.id.value %}Edit{%else%}Add{%endif%} School{%endblock%}
{% block breadcrumbs %}
<li><span class="divider">/</span> <a href="/schools/" class="muted">Manage Schools</a></li>
<li class='active'><span class="divider">/</span> {% if form.id.value %}Edit{%else%}Add{%endif%} School</li>
{% endblock %}
{% block content %}

<form action="" method="post" class="form-horizontal" enctype="multipart/form-data">
{% csrf_token %}

<div class="row-fluid">
  <div class="span6">
  	{% if form.id.value %}
  	<h2>Edit School</h2>
  	{% else %}
  	<h2>Add School</h2>
  	{% endif %}
  </div>
  <div class="span6" style="text-align:right;">
  	<br/>
  	<button class="btn btn-primary btn-large" type="submit" ><i class="icon-plus icon-white"></i> Save</button>
 	<button class="btn btn-inverse btn-large" type="button" onclick="javascript:document.location.href='/schools/'"><i class="icon-chevron-left icon-white"></i> Cancel</button>
 	
  </div>
</div>
<br/>


	
{{ form }}


</form>

<script>
$('#id_login_url').after('<br/><small>cnusdp2s.com/{{form.login_url.value}}/</small>');
</script>

{% endblock %}